/* CSS file for Tygh's Calc */
/* Example image: https://help.apple.com/assets/61B370B8020DEA0A024710E6/61B370BA020DEA0A02471109/en_US/444e9701b92783985608b59943f635be.png */

* {
  margin: 2px;
  padding 2px;
}

body {
  background-color: black;
}

button {
  background-color: gray;
  color: white;
  padding: 3px;
}

.button {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  border: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 12px;
  width: 44px;
  margin: 3px;
}

.ops {
  background-color: orange;
}

blockquote {
  font-size: 0.7em;
  font-style: italic;
}

#buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  justify-content: space-evenly;
}

p, h1, h2, h3, h4, h5, blockquote {
  color: white;
}

#display {
  display: flex;
  flex-direction: row;
  height: 24px;
  width: 200px;
  border: 6px;
  border-color: white;
  border-style: groove;
  border-radius: 12px;
  padding: 2px;
  margin: 10px;
  font-size: 1.2em;
}