/*CSS file*/

body {
  background-color: lightblue;
}

.mathButton {
  font-size: 1.5em;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 8px;

}

blockquote {
  font-size: 0.8em;
  font-style: italic;
}