/*CSS file*/

* {
  margin: 2px;
}

body {
  background-color: black;
}

.button {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  border: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 12px;
  width: 32px
}

blockquote {
  font-size: 0.8em;
  font-style: italic;
}

#buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 225px;
  justify-content: space-evenly;
}

p, h1, h2, h3, h4, h5, blockquote {
  color: white;
}

#display {
  width: 190px;
  border: 6px;
  border-color: white;
  border-style: groove;
  border-radius: 12px;
  padding: 2px;
  margin: 10px;
  font-size: 1.2em;
}